.App {

    --header_height: 60px;

    display: flex;
    font-style: normal;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    margin: 20px 0;
    position: relative;
    top: 130px;



}

.hw {
    width: 1200px;


}

.hwTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.6px;
    position: relative;
    bottom: 40px;
    line-height: 26.82px;


}

